@charset "UTF-8";

a{
	text-decoration: none;
}
div#goods_list_wrap{
    margin-top: 100px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
div#goods_list_inner_wrap{
	width:1400px;
	display:flex;
	flex-direction:row;
	gap:20px;
}
section#category{
    width: 242px;
    height: 500px;
    background: yellow;
}
section#goods_list_section{
	flex:1;
}
ul#goods_list{
	display: grid;
    grid-template-columns: repeat(4,1fr);
}
div.goods_list_image_text_wrap{
	display:flex;
	flex-direction:column;
	padding:16px;
	box-sizing:border-box;
}
div.goods_list_text_wrap{
	margin-top:8px;
}
img{
    width: 100%;
    border-radius: 8px;
}
p.goods_title{
	color:black;
	font:400 14px 'pretendard';
	margin-bottom:4px;
}
p.goods_total_price{
	color:black;
	font:600 16px 'pretendard';
}
p.span_wrap{
	color:red;
	font:500 12px 'pretendard';
	margin-bottom:8px;
}
div#number{
	display:flex;
	justify-content:center;
	margin-top:40px;
}
div#number button{
	background:none;
	border:none;
	cursor:pointer;
	font:400 14px "pretendard";
}