@charset "UTF-8";

.accountsForm{
    max-width:500px;
    height:auto;
    border:solid 3px var(--main-color);
    border-radius:8px;
    padding:30px 30px 50px;
    margin:0 auto;
    margin-top:120px;
    text-align:center;
    color:var(--default-text);
}
.accountsForm_title{
    color:var(--main-color);
    margin:0px 0px 20px 0px;
}

input{
	outline:none;
}
#formBox{
    width:100%;
}

/*회원가입 타입선택*/
#formBox_joinType{
    width:220px;
    margin:0px auto;
}
#joinType_list{
    display:flex;
    flex-direction:column;
    justify-content:start;
    color:var(--main-color);
}
#joinType_list>li{
    font-size:24px;
    text-align:start;
}
#joinType_list>li>label{
    cursor:pointer;
}
#joinType_btn{
    width:100px;
    height:40px;
    border:none;
    border-radius:8px;
    background:var(--main-color);
    font-size:18px;
    color:#ffffff;
    cursor:pointer;
}

/*회원가입 타입선택끝*/


/* 회원가입폼 시작 */

.joinForm_inputBox,
.joinForm_inputBox_pw{
    width:100%;
    height:60px;
    box-sizing:border-box;
    border-radius:8px;
    border:solid 2px var(--main-color);
    margin-bottom:25px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    cursor:text;
}
#jFiB_pw{
    border-radius:8px 8px 0px 0px;
    border-bottom:none;
    margin-bottom:0px;
}
#jFiB_pwChk{
    border-radius:0px 0px 8px 8px;
}
.joinForm_input{
    width:90%;
    height:25px;
    border:none;
    padding:0px 10px;
}
.joinForm_label{
    padding:0px 10px;
    font-size:12px;
    text-align:left;
}
.joinForm_chkMsg{
	line-height:14px;
	font-size:12px;
    text-align:left;
    text-indent:25px;
    color:var(--warning-text);
}
#joinForm_submitBox{
    width:100%;
    height:50px;
}
#joinForm_submitBox>input{
    width:100%;
    height:100%;
    border-radius:8px;
    border:none;
    background:var(--main-color);
    font-size:18px;
    color:#ffffff;
    cursor:pointer;
}
#accountForm_buttonBox{
    margin-top:25px;
    width:100%;
    height:50px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}
#accountForm_buttonBox>button{
    width:48%;
    height:100%;
    border:none;
    border-radius:8px;
    outline:none;
    background:var(--main-color);
    font-size:18px;
    color:#ffffff;
    cursor:pointer;
}
/* 회원가입폼 끝 */

/* 로그인폼 시작*/

#loginForm_inner{
    width:100%;
    border-radius:8px;
}
.loginForm_inputBox{
    width:100%;
    height:30px;
    border-radius:8px;
    border:solid 2px var(--main-color);
    margin-bottom:15px;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}
.loginForm_inputBox>input{
    width:100%;
    border:none;
    text-indent:30px;
}
.loginForm_inputBox>label{
    width:30px;
}
#loginSubmit{
    width:100%;
    height:50px;
    border:none;
    border-radius:8px;
    background:var(--main-color);
    font-size:18px;
    color:#ffffff;
}
#loginForm_joinLink{
    float:right;
    text-decoration:none;
    color:var(--default-text);
}
/* 로그인폼 끝*/