@charset "UTF-8";

.accountsForm{
    max-width:500px;
    height:auto;
    border:solid 1px var(--main-color);
    padding:15px;
    margin:0 auto;
    text-align:center;
    color:var(--default-text);
}
.accountsForm_title{
    color:var(--main-color);
}

/* 회원가입폼 시작 */

/* 회원가입폼 끝 */